@using Microsoft.AspNet.Identity

<style>
    .navbar-nav {
        margin: 0px 10px 0px 0px !important
    }
</style>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @*<ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>*@


        <ul class="nav navbar-nav">

            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    @*<img src="~/AdminLTE_2_4_2/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">*@
                    <span class="hidden-xs">@User.Identity.GetUserName()</span>
                    @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header" style="height:115px">
                        @*<img src="~/AdminLTE_2_4_2/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        <p>
                            Alexander Pierce - Web Developer
                            <small>Member since Nov. 2012</small>
                        </p>*@
                        <table border="0" width="100%">
                            <tbody>
                                <tr style="border-bottom: 1pt solid white;"> 
                                    <td valign="middle" align="left">                                                                                                                   
                                        <a href="@Url.Action("Index", "Manage")" class="item_link" style="color:#fff">
                                            <p><i class="fa fa-gear"></i> Account Settings</p>
                                        </a>
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="item_link" style="color:#fff">
                                            <p><i class="fa fa-sign-out"></i> Log out</p>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="color:#fff"><b>@User.Identity.GetUserName()</b></p>
                    </li>
                    <!-- Menu Footer-->
                    @*<li class="user-footer">                    
                        <div class="pull-left">
                            @Html.ActionLink("Account Settings", "Index", "Manage", routeValues: null, htmlAttributes: new {@class="btn btn-default btn-flat", title = "Manage" })
                           
                        </div>
                        <div class="pull-right">
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                    </li>*@
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="dropdown-toggle" data-toggle="dropdown" title="Help &amp; Support" aria-expanded="false">
                    <i class="fa fa-question-circle"></i>
                </a>
                <ul class="dropdown-menu">
                    <li class="hidden-xxs">
                        <a href="#" target="_blank" title="Help &amp; Manual">
                            <i class="fa fa-question-circle"></i> Help &amp; Manual
                        </a>
                    </li>
                    <li class="hidden-xxs">
                        <a href="#" data-toggle="modal" data-target="#IssueReportModal" title="Report an issue">
                            <i class="fa fa-bug"></i> Report an issue
                        </a>
                    </li>
                   
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            @*<li>                
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>*@
        </ul>

    }
}
else
{
    <ul class="nav navbar-nav ">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


