@model ChurchManager.Models.Transaction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastEdited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastEdited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEntered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerGroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerGroupId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
