@model ChurchManager.Models.TransactionDetailView

@{
    ViewBag.Title = "Details";
}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Transaction Info</h3>
        <div class="pull-right">
            @*<input type="submit" value="Save" class="btn btn-success" />*@
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TransactionDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Payee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Payee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccountRegistryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountRegistryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccountName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FundName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FundName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Payment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Payment)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Deposit)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Deposit)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EnteredBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EnteredBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateEntered)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateEntered)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateLastEdited)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateLastEdited)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EditedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditedBy)
            </dd>


        </dl>

    </div>
    <!-- /.box-body -->
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
