@model ChurchManager.Models.PersonView

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Personal Info</h3>
        <div class="pull-right">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-2">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label>Gender</label>
                    @Html.DropDownListFor(x => x.Gender, new List<SelectListItem>
                   {
                       new SelectListItem() {Text = "Male", Value="M"},
                       new SelectListItem() {Text = "Female", Value="F"}
                   },"", new { @class = "form-control select" })

                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-md-2">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label>Title</label>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder="Mr., Mrs., Dr., Rev." } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-8">

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-3">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label>First Name</label>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-md-2">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label>Middle Name</label>
                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-3">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label>Last Name</label>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-1">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label>Suffix</label>
                    @Html.EditorFor(model => model.Suffix, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Suffix, "", new { @class = "text-danger" })
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-3">
                <!-- /.form-group -->
                <div class="form-group">
                    <label>Birthday</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="form-group">
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-6">
                <!-- /.form-group -->
                <div class="form-group">
                    <label>Address1</label>
                    @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address2</label>
                    @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-6">
                <!-- /.form-group -->
                <div class="form-group">
                    <label>City</label>
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="form-group">
                    <label>State</label>
                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Zip Code</label>
                    @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Country</label>
                    @Html.DropDownListFor(x => x.Country, new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Philippines", Value="PH"},
                        new SelectListItem() {Text = "United State of America", Value="US"},
                        new SelectListItem() {Text = "Japan", Value="JP"}
                    }, "--", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @*<label>Latitude</label>
                    @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @*<label>Longitude</label>
                    @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })*@
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Family Info</h3>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Family Role</label>
                        @Html.DropDownListFor(x => x.SelectedFamilyRoleId, Model.FamilyRoleList,"Select family role", new { @class = "form-control select" })

                        @Html.ValidationMessageFor(model => model.SelectedFamilyRoleId, "", new { @class = "text-danger" })
                    </div>
                    <!-- /.form-group -->
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Family</label>
                        @Html.DropDownListFor(x => x.SelectedFamilyId, Model.FamilyList,"Select family", new { @class = "form-control select2" })

                        @Html.ValidationMessageFor(model => model.SelectedFamilyId, "", new { @class = "text-danger" })
                    </div>
                    <!-- /.form-group -->
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
     </div>
</div>
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Contact Info</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Home Phone</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>WorkPhone</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        @Html.EditorFor(model => model.WorkPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorkPhone, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Mobile Phone</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-mobile-phone"></i>
                        </div>
                        @Html.EditorFor(model => model.CellPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CellPhone, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Work Email</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        @Html.EditorFor(model => model.WorkEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorkEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Membership Info</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Classification</label>
                    @Html.DropDownListFor(x => x.Classification, new List<SelectListItem>
                   {
                       new SelectListItem() {Text = "Guest", Value="G"},
                       new SelectListItem() {Text = "Member", Value="M"},
                       new SelectListItem() {Text = "Non-Attender", Value="NA"}
                   },"", new { @class = "form-control select2" })

                    @Html.ValidationMessageFor(model => model.Classification, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Membership Date</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.EditorFor(model => model.MembershipDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MembershipDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Envelop No.</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </div>
                        @Html.EditorFor(model => model.Envelope, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Envelope, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

