@model ChurchManager.Models.ApplicationRoleListView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Role List";
}


<div class="box">
    <div class="box-header">
        @if (Model.CanAdd)
        {
            <button onclick="location.href='@Url.Action("CreateRole", "Permission")';return false;" class="btn btn-success"><i class="fa fa-plus"></i> Create New</button>
        }
    </div>
    <div class="box-body">
        <table id="tblFamily" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <label>Role Name</label>
                    </th>
                    <th>
                        <label>Operations</label>
                    </th>
                    <th>
                        <label>Actions</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.Raw(string.Join(" | ", item.OperationList.Select(s => string.Format("<span>{0}</span>", s.Text))))
                        </td>
                        <td>
                            @if (!item.IsDefaultRole)
                            {
                            <div style="width:78px">
                                @if (Model.CanEdit)
                                {
                                    @Html.ActionLink(" ", "EditRolePermission", "Permission", new { id = item.Id }, new { @class = "btn btn-primary fa fa-pencil", @title = "Edit" })
                                }
                                @if (Model.CanDelete)
                                {
                                    <a href="#" class="btn btn-danger fa fa-trash" onclick="ConfirmDelete('@item.Id')"></a>
                                }
                            </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <!-- /.box-body -->
</div>

@section Scripts {
    <script src="~/AdminLTE_2_4_2/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE_2_4_2/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#tblFamily').DataTable();
        })

        function ConfirmDelete(id) {
            jQuery.noConflict();
            // Delete any existing modal before spawning another.
            $('#Ajax-Modal').remove();

            $.ajax({
                url: 'DeleteRole/' + id,
                type: 'get',
                cache: false,
                data: { postId: id },//{ postId: $(e.target).data('id') },
                success: function (data) {
                    $(data).modal(
                        {
                            backdrop: 'static',
                            keyboard: false,
                        });
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
    </script>
}
